html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.htmlScreen iframe {
  width: 1024px;
  height: 680px;
  border: none;
  border-radius: 5px;
  background: #000000;
  overflow: auto;
}
